.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color:greenyellow;
  
  
}

.head h2 {
  
  color:red;
  padding:10px;
  padding-left:30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.head ul {
  list-style-type: none;
 
  display: flex;
}

.head li {
  margin: 0 15px;
  padding:10px;
  text-decoration: underline;
}

.head a {
  text-decoration: none;
  color:white;
}

.head a:hover {
  color: blueviolet;
}
